.DS_Store
.venv/
firmware/build/
firmware/build-wifi/
firmware/build-weather/
firmware/managed_components/
firmware/sdkconfig
firmware/sdkconfig.old
local-map-data/
firmware/maps
firmware/sdcard/ultrawatch/maps/*
